<div class="required">
	<%= form.label :username, "Username" %>
	<%= form.text_field :username, :size => 15 %>
</div>

<div class="required">
	<%= form.label :password, "Password" %>
	<%= form.password_field :password, :size => 15 %>
</div>

<div class="required">
	<%= form.label :password_confirmation, "Password confirmation" %>
	<%= form.password_field :password_confirmation, :size => 15 %>
</div>

<div class="required">
	<%= form.label :first_name, "First name" %>
	<%= form.text_field :first_name, :size => 15 %>
</div>

<div class="required">
	<%= form.label :last_name, "Last name" %>
	<%= form.text_field :last_name, :size => 18 %>
</div>

<div class="required">
	<%= form.label :email, "Email" %>
	<%= form.text_field :email, :size => 25 %>
</div>

<div class="required">
	<%= form.label :phone_number, "Phone Number" %>
	<%= form.text_field :phone_number, :size => 20 %>
</div>